header,
footer {
  // background-color: rgba(0, 128, 0, 0.993);
  // background-color: rgb(69 74 69 / 99%);

  // Register --hos-color-amber-050: #ffae00;
  // Required field --hos-color-red-070: #ff6966;

  background-color: #2f353c;
  color: #eee;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .logo {
    font-size: 2.5rem;
    display: inline-block;
  }
  .navItem {
    padding: 0.7em 1em;

    display: inline-block;
  }
  // nav:hover {
  //   background-color: rgb(80, 80, 74);
  //   // background-color: rgba(0, 128, 0, 0.226);
  // }
  // .navItem:hover {
  //   background-color: rgba(0, 128, 0, 0.226);
  // }
  // h2 {
  //   // color: yellow;
  //   color: #ffae00;
  //   color: #ffd500;
  // }

  a {
    // padding-left: 1rem;
    padding: 0.6rem;
  }
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0;
}
ul {
  padding: 0;
}
.list-group {
  min-width: 200px;
}

@media only screen and (max-width: 720px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  #root {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  nav {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding-right: 1rem;
  }
  form {
    padding-right: 1rem;
  }
  .hov {
    padding: 0;
  }
  header .container {
    padding-top:2px;
    padding-bottom:2px;
  }
  // .w3-container {
  //   max-width: 280px;
  //   /* max-height:auto; */
  //   display: block;
  //   margin: 0 auto;
  //   width: 100%;
  //   transform: translateY(14%);
  // }
  .w3-container img{
    display: none;
  }
 .form-control, .inputs-pd{
    padding: 0;
  }
 
  // }
  // @media only screen and (max-width: 360px) {
  nav {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  // .head
  // .w3-container,
  .head {
    display: none;
  }
  .hov {
    padding-left: 0;
    padding-right: 0;
  }
  li > img {
    width: 75%;
  }
  // header .container {
  //   padding: 0;
  // }
}
