header,
footer {
  // background-color: rgba(0, 128, 0, 0.993);
  // background-color: rgb(69 74 69 / 99%);
  
  // Register --hos-color-amber-050: #ffae00;     
  // Required field --hos-color-red-070: #ff6966;

  background-color: #2f353c;;
  color: #eee;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .logo {
    font-size: 2.5rem;
    display: inline-block;
  }
  .navItem {
    padding: 0.7em 1em;
 
    display: inline-block;
  }
  .navItem.active {
    background-color: rgba(0, 128, 0, 0.226);
  }
  .navItem:hover {
    background-color: rgba(0, 128, 0, 0.226);
  }
  // h2 {
  //   // color: yellow;
  //   color: #ffae00; 
  //   color: #ffd500; 
  // }

  a {
    // padding-left: 1rem;
    padding: .6rem;
  }
}
